* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  color: aliceblue;
}

#numberForm {
  text-align: left;
  width: 40%;
  display: flex;
  justify-content: center;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  background-color: rgba(46, 122, 223, 0.212);
}

form {
  padding: 15px;
}